html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
@font-face {
  font-family: 'Sysfont';
  src: url('sysfont.woff2') format('woff2'),
  url('sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}